/* COMMON(공통 영역의 css 스타일) */
body{
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
}
/* 화면에 이미지 파일이 css를 입힐 때 유연하게 하기 위해서 하나의 레이아웃으로 블럭을 만들어주는 것이 중요! */
img{
  display: block;
}
a{
  text-decoration:none;
}
li{
  list-style: none;
}
/* position을 갖고 중앙 정렬 배치를 진행한다. */
/* HEADER관련 css */
header {
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
}
/* inner 클래스 수정 */
header .inner{
  width : 1100px;
  height : 120px;
  margin: 0 auto;
  /* 헤더 영역 안에서 사용할 수 있도록 relative를 설정 */
  position: relative;
}
/* logo 클래스 헤더의 수직 가운데 위아래 */
header .logo{
  height: 75px;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  margin: auto;
}
header .sub-menu{
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
}
header .sub-menu ul.menu {

  font-family: Arial, sans-serif;
  display: flex;
}
header .sub-menu ul.menu li {
  position: relative;
}
header .sub-menu ul.menu li::before {
  content: "";
  width : 1px;
  height: 12px;
  background-color: #e5e5e5;
  /* absolute와 fixed는 블럭으로 변경된다 */
  position: absolute;
  top:0px;
  bottom:0px;
  margin:auto;
}
header .sub-menu ul.menu li:first-child::before {
  display: none;
}
header .sub-menu ul.menu li a {
  font-size: 15px;
  padding: 11px, 16px;
  /* 화면이 다른 부분이 존재해서 개인적으로 css를 수정함 */
  margin-right: 25px;
  margin-left: 25px;
  display: block;
  color: #656565;
}
header .sub-menu ul.menu li a:hover{
  color: #000;
}
header .sub-menu .search {
  height: 34px;
  position: relative;
}
/* 검색 창 CSS 수정 */
header .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding : 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  color: #777;
  font-size : 12px;
  transition: width .4s;
}
header .sub-menu .search input:focus {
  width: 190px;
  border-color: #669900;
}
header .sub-menu .search .material-icons {
  height: 24px;
  position: absolute;
  top: 0;
  bottom:0;
  right: 5px;
  margin: auto;
  transition: all .4s;
}
header .sub-menu .search.focused .material-icons {
  opacity: 0;
  
}
/* main 메뉴 */
header .main-menu{
  display: flex;
  /* padding :0;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  word-spacing: 20px; */
}
header .main-menu .item{
  /* padding : 100px; */
}
header .main-menu .item .item__name{
  padding: 10px 20px 34px 20px;
  font-family : Arial, sans-serif;
  font-size: 13px;
}
header .main-menu .item:hover .item__name {
  background-color: #2c2a29;
  color: #669900;
  border-radius: 6px 6px 0 0;
}
header .main-menu .item .item__contents {
  width: 100%;
}

header .main-menu .item .item__contents .contents__menu {
  background-color: red;
  height: 200px;
}
header .main-menu .item .item__contents .contents__texture {
  background-color: orange;
  height: 100px;
}